
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h2 {
    text-align: center;
    margin: 60px 0 20px;
}

section {
    background-color: #D1891C;
    padding: 5px 30px;
    font-size: 20px;
}

header {
    background-color: #00669F;
    color: white;
    padding: 12px 30px;
    box-shadow: 0px 4px 5px 0px #00000040;
}

button {
    background-color: rgba(0, 102, 159, 1);
    color: white;
    padding: 14px 40px;
    border-radius: 4px;
    border: none;
    margin: 22px auto;
}

main {
    margin-top: 30px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 102, 159, 1);
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    margin-top: 120px;
    gap: 10px;
}

h3 {
    margin: 0 auto;
    font-size: 11px;
}

.github-image {
    width: 80px;
    height: 36px;
}

.card {
    height: 590px;
    width: 320px;
    background-color: rgba(243, 243, 243, 1);
    margin: 0 auto 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px 24px 0 0;
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.card p {
    padding: 0 30px;
    text-align: left;
}

.background {
    width: 320px;
    height: 200px;
    border-radius: 24px 24px 0 0;
    position: relative;
    z-index: 0;
}

.heart {
    width: 26px;
    position: absolute;
    z-index: 1;
    margin: 20px 0 0 -250px;
}

.profile-image {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    position: absolute;
    z-index: 1;
    margin: 140px auto;
}

@media only screen and (max-width: 767px) {
    .harley-card {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    main {
        display: flex;
        flex-wrap: wrap;
    }

    footer {
        margin-top: 80px;
    }

    h3 {
        font-size: 20px;
    }

    button {
        padding: 20px 60px;
        margin: 40px auto;
    }

    .heart {
        width: 26px;
        position: absolute;
        z-index: 1;
        margin: 20px 0 0 -280px;
    }

    .github-image {
        width: 110px;
        height: 50px;
        margin-right: 20px;
    }

    .card {
        width: 350px;
    }

    .background {
        width: 350px;
    }
}
